.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 3px solid #444;
}

.sidenav h3 {
  color: #eee;
  display: inline-block;
  margin: auto;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border-top: 3px solid #444;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.page {
  color: #fff;
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
  display: none;
  position: relative;
  animation: fadeEffect 1s;
}

.page:target {
  display: block;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

table, th, td {
  border: 1px solid #aaaaaa;
}

th, td {
  padding: 2px 20px;
}

#console {
  position: absolute;
  height: 80vh;
  top: 2px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: #010101;
  border: 3px solid #11aa11;
  border-radius: 15px;
}

#console_output {
  height: 95%;
  background: #000;
  border-radius: 18px 18px 0px 0px;
}

#console_output_container {
  height: 95%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  padding: 10px;
  font-size: 15px;
  color: #191;
  list-style-type: none;
  overflow-x: wrap;
  overflow-y: scroll;
}

#console_input {
  height: 5%;
  background: #282828;
  display: flex;
  flex-flow: row;
  border-radius: 0px 0px 18px 18px;
}

#console_input_target_selector {
  flex-grow: 10;
  border: 1px solid #11aa11;
  border-radius: 0px 0px 0px 10px;
  background: #222;
  color: #eee;
  height: 100%;
}

#console_input_command_entry {
  flex-grow: 80;
  border: 1px solid #11aa11;
  background: #222;
  color: #eee;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

#console_input_send_button {
  flex-grow: 5;
  border: 1px solid #11aa11;
  background: #222;
  color: #eee;
  line-height: 0;
  height: 100%;
}

#console_input_clear_button {
  flex-grow: 5;
  border: 1px solid #11aa11;
  border-radius: 0px 0px 10px 0px;
  background: #222;
  color: #eee;
  line-height: 0;
  height: 100%;
}
